* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.text {
    display: grid;
    place-items: center;
    background-color: darkseagreen;
    width: 34%;
    height: 400px;
    margin: 100px;
}

h1 {
    margin: 30px;
}
